{% block doctype %}
<!DOCTYPE html>
{% endblock doctype %}

{% block html_tag %}
<html lang="fr">
{% endblock html_tag %}

    <head>

        {% block meta %}
            {% include 'VictoireSeoBundle::_meta.html.twig' %}
        {% endblock meta %}

        {% block head_script %}
            {% if app.environment == 'prod' %}
                {% javascripts
                    'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts
                    '@FrontTemplateBundle/Resources/script/jquery-1.11.1.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock head_script %}

        {% block head_style %}
        {% endblock head_style %}

        {# use http://iconifier.net/ to generate them #}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    </head>

    <body {% block container_attributes %} {% if app.session.get('victoire.edit_mode') %}role="{{ app.session.get('victoire.edit_mode') }}"{% endif %}{% endblock container_attributes %} class="{% if is_granted('ROLE_VICTOIRE') %}victoire-bo {% endif %}{% block container_class %}{% endblock container_class %}">

    {% block body %}
    {% endblock body %}

    {% block foot_script %}
    {% endblock %}

    {% block foot_script_additional %}
    {% endblock %}

    {% block javascript_bottom %}
        {% javascripts injector="foot, bootstrap-extra, redactor" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts
            '@FrontTemplateBundle/Resources/script/respond/src/respond.js'
            '@FrontTemplateBundle/Resources/script/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js'
            '@FrontTemplateBundle/Resources/script/eternicode-bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% if app.environment == 'prod' %}
            {% javascripts
                '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% else %}
        <script>
            {% javascripts
                '@FrontTemplateBundle/Resources/script/bootstrap.js'
            %}
                document.write('<script src="{{ asset_url }}"><\/script>');
                {% endjavascripts %}

        </script>
        {% endif %}


    {% endblock javascript_bottom %}
    {% block alertify %}
        {{ app.session|alertify|raw }}
    {% endblock %}
    </body>

</html>
